
fellow_kids/config.json
navi/.env
tf2_bot/config.json
fellow_kids/__pycache__/
fellow_kids/commands/__pycache__/
.vscode/settings.json
*node_modules/
webhook/.env
fellow_kids/levels.db
fellow_kids/levels.db-journal
tf2_bot/settings.sqlite3
*discord.log
*env
fellow_kids/Lavalink.jar
fellow_kids/logs