
fellow_kids/.env
navi/.env
fellow_kids/nohup.out
navi/nohup.out
fellow_kid/final.png
chess/dotnet-sdk-3.1.200-linux-arm.tar.gz.1
chess/aspnetcore-runtime-3.1.2-linux-arm.tar.gz
chess/__pycache__
chess/dotnet-arm32
chess/.env
