[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
"discord.py" = "*"
aiosqlite3 = "*"
pillow = "*"

[requires]
python_version = "3.8"
